.restore_button {
  background-color: #11288F;
  border: 1px solid #11288F;          
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 16px;
  max-width: 400px;
  color: #fff;          /* ตัวหนังสือสีขาวปกติ */
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.restore_button:focus,
.restore_button:active {
  background-color: #3b51b5 !important;
  border-color: #3b51b5 !important;
  color: #fff !important;        /* ตัวหนังสือและ icon */
}

/* ถ้ามี icon ข้างใน */
.restore_button .anticon {
  color: #fff;  /* icon ขาวเหมือนเดิม */
}