/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b1515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.Card-Header {
  background-color: #2980B9;
  border: 1px solid #2980B9;          /* Edge */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Shadow */
  border-radius: 20px;              /* Optional: rounded corners */
  padding: 16px;
  max-width: 400px;
  margin-left: 5vh;
  transition: box-shadow 0.3s ease;
}

.button-import {
  background-color: #11288F;
  border: 1px solid #11288F;          
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 16px;
  max-width: 400px;
  color: #fff;          /* ตัวหนังสือสีขาวปกติ */
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-import:hover,
.button-import:focus,
.button-import:active {
  background-color: #3b51b5 !important;
  border-color: #3b51b5 !important;
  color: #fff !important;        /* ตัวหนังสือและ icon */
}

/* ถ้ามี icon ข้างใน */
.button-import .anticon {
  color: #fff;  /* icon ขาวเหมือนเดิม */
}

.profile-image {
  object-fit: cover !important;
  border-radius: 50% !important;
  border: 2px solid rgb(70, 90, 200) !important;
  background-color: white !important;
  /* Removed transition for width and height */
}

.profile-container {
  display: flex !important;
  justify-content: center !important;
  margin: 50px 0 20px 0 !important; /* Top, Right, Bottom, Left */
}

.profile-info {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  margin: 20px 0 !important; /* Top and Bottom margin */
  overflow-wrap: break-word !important;
  text-align: center !important;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
